AWSTemplateFormatVersion: 2010-09-09
Description: Based on ACFS3-S3 Static site with CF and ACM
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
    - Label:
        default: Domain
      Parameters:
      - SubDomain
      - DomainName
      - HostedZoneId
    - Label:
        default: Buckets
      Parameters:
      - BucketName
Mappings:
  Solution:
    Constants:
      Version: v0.8
Rules:
  OnlyUsEast1:
    Assertions:
    - Assert:
        Fn::Equals:
        - Ref: AWS::Region
        - us-east-1
      AssertDescription: "This template can only be deployed in the us-east-1 region.\n\
        This is because the ACM Certificate must be created in us-east-1\n"
Parameters:
  SubDomain:
    Description: The part of a website address before your DomainName - e.g. www or
      img
    Type: String
    Default: www
    AllowedPattern: ^[^.]*$
  DomainName:
    Description: The part of a website address after your SubDomain - e.g. example.com
    Type: String
    Default: example.com
  HostedZoneId:
    Description: HostedZoneId for the domain e.g. Z23ABC4XYZL05B
    Type: String
    Default: ''
  BucketName:
    Description: The name of the bucket for the website
    Type: String
  EnvType:
    Description: Environment type.
    Default: test
    Type: String
    AllowedValues:
    - prod
    - test
    ConstraintDescription: must specify prod or test.
Conditions:
  CreateProdResources:
    Fn::Equals:
    - Ref: EnvType
    - prod
Resources:
  BucketStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: https://s3.us-east-1.amazonaws.com/skiadas-resume-templates/c5c2b76475260a94d18d5190179d970d.template
      Parameters:
        BucketName:
          Ref: BucketName
      Tags:
      - Key: project
        Value: resume-skiadas
  AcmCertificateStack:
    Type: AWS::CloudFormation::Stack
    Condition: CreateProdResources
    Properties:
      TemplateURL: https://s3.us-east-1.amazonaws.com/skiadas-resume-templates/2281c7afd732c0476897317ee7a1be7b.template
      Parameters:
        SubDomain:
          Ref: SubDomain
        DomainName:
          Ref: DomainName
        HostedZoneId:
          Ref: HostedZoneId
      Tags:
      - Key: project
        Value: resume-skiadas
  CloudFrontStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: https://s3.us-east-1.amazonaws.com/skiadas-resume-templates/f819ecd7f359f2b8be7e3a43519b10fe.template
      Parameters:
        CertificateArn:
          Fn::If:
          - CreateProdResources
          - Fn::GetAtt:
            - AcmCertificateStack
            - Outputs.CertificateArn
          - AWS::NoValue
        FullName:
          Fn::If:
          - CreateProdResources
          - Fn::Sub: ${SubDomain}.${DomainName}
          - AWS::NoValue
        S3BucketRoot:
          Fn::GetAtt:
          - BucketStack
          - Outputs.S3BucketRoot
        S3BucketRootName:
          Fn::GetAtt:
          - BucketStack
          - Outputs.S3BucketRootName
        S3BucketRootArn:
          Fn::GetAtt:
          - BucketStack
          - Outputs.S3BucketRootArn
        S3BucketLogsName:
          Fn::GetAtt:
          - BucketStack
          - Outputs.S3BucketLogsName
        ViewerRequestLambda:
          Fn::GetAtt:
          - CountersStack
          - Outputs.IncomingRequestFunctionVersion
        EnvType:
          Ref: EnvType
      Tags:
      - Key: project
        Value: resume-skiadas
  Route53RecordSetGroup:
    Type: AWS::Route53::RecordSetGroup
    Condition: CreateProdResources
    Properties:
      HostedZoneName:
        Fn::Sub: ${DomainName}.
      RecordSets:
      - Name:
          Fn::Sub: ${SubDomain}.${DomainName}
        Type: A
        AliasTarget:
          DNSName:
            Fn::GetAtt:
            - CloudFrontStack
            - Outputs.CloudFrontDistribution
          EvaluateTargetHealth: false
          HostedZoneId: Z2FDTNDATAQYW2
  CountersStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: https://s3.us-east-1.amazonaws.com/skiadas-resume-templates/1a341b20dc863e023254a41a5f1e1592.template
      Parameters:
        ResourcePrefix:
          Fn::If:
          - CreateProdResources
          - skiadas-resume
          - dev-skiadas-resume
        ParameterBucketPrefix:
          Fn::If:
          - CreateProdResources
          - skiadas/resume/counters
          - dev-skiadas/resume/counters
        EnvType:
          Ref: EnvType
      Tags:
      - Key: project
        Value: resume-skiadas
Outputs:
  SolutionVersion:
    Value:
      Fn::FindInMap:
      - Solution
      - Constants
      - Version
  S3BucketLogs:
    Description: Logging bucket
    Value:
      Fn::GetAtt:
      - BucketStack
      - Outputs.S3BucketLogs
  S3BucketRoot:
    Description: Website bucket
    Value:
      Fn::GetAtt:
      - BucketStack
      - Outputs.S3BucketRoot
  S3BucketLogsName:
    Description: Logging bucket name
    Value:
      Fn::GetAtt:
      - BucketStack
      - Outputs.S3BucketLogsName
  S3BucketRootName:
    Description: Website bucket name
    Value:
      Fn::GetAtt:
      - BucketStack
      - Outputs.S3BucketRootName
  CertificateArn:
    Description: Issued certificate
    Condition: CreateProdResources
    Value:
      Fn::GetAtt:
      - AcmCertificateStack
      - Outputs.CertificateArn
  CFDistributionName:
    Description: CloudFront distribution
    Value:
      Fn::GetAtt:
      - CloudFrontStack
      - Outputs.CloudFrontDistribution
  CloudFrontDomainName:
    Description: Website address
    Condition: CreateProdResources
    Value:
      Fn::Sub: ${SubDomain}.${DomainName}
